{% extends 'main.html' %}




{% block content %}

<div class="row">
    <div class="col">
    <div class="col-md">

        <div class="card card-body">
            <h5>Customers</h5>
        </div>

        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Date Created</th>
                   
                    <!-- <th>Amount paid</th> -->
                </tr>
                {% for i in customers %}
                <tr>
                    <td><a class="btn btn-sm btn-outline" href="{% url 'customer' i.id %}">{{i.name}}</a></td>
                <td>{{i.phone}}</td>
                <td>{{i.email}}</td>
                <td>{{i.date_created}}</td>
               
                
               
                
                <!-- <td>{{products.price}}</td>  -->
               
            </tr>
            {% endfor%}
                
               
            </table>
           
        </div>
        
    </div>
</div>

    <div class="col">
    <div class="col-md">

        <div class="card card-body">
            <h5>Orders</h5>
        </div>

        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Order Date Created</th>

                </tr>
                {% for order in orders %}
                <tr>
               
               
                
                <td>{{order.customer}}</td> 
                <td>{{order.product}}</td>
                <td>{{order.product.price}}</td> 
               
                 
                <td>{{order.status}}</td> 
                
                <td>{{order.date_created}}</td> 
                
            </tr>
            {% endfor%}
            
               
            </table>
           
        </div>
        
    </div>
</div>

</div>

{% endblock %}




