{% extends 'main.html' %}


{% block content %}
<hr>
<div class="row">
    <div class="col">
    <div class="col-md">

        <div class="card card-body">
            <!-- <h5>Products</h5> -->
            <p>Are you sure you want to delete "{{item}}"?</p>
        </div>

        <div class="card card-body">
<form method="post" action="{% url 'delete_order' item.id %} ">
    {% csrf_token %}
    <input type="submit" class="btn btn-md btn-warning" name="submit">

    <a href="{% url 'home' %}" class="btn btn-md btn-info">Cancel</a>
    
</form>

</div>
        
</div>
</div>

</div>
{% endblock %}