{% extends 'main.html' %}


{% block content %}

<div class="row">
    <div class="col">
    <div class="col-md">

        <div class="card card-body">
            <h5>Password Reset</h5>
        </div>
         <p>Forgotten your password?
             Enter your Email below we will send instructions to reset your password
         </p>
        <div class="card card-body">
            <form method="post" action="">
                {%csrf_token%}
                {{form}}
                <input type="submit" href="{%url 'password_reset_done'%}"name="send mail">
            </form>
           
        </div>
        
    </div>
</div>

</div>

{% endblock %}