{% extends 'main.html' %}


{% block content %}

<div class="row">
    <div class="col">
    <div class="col-md">

        <div class="card card-body">
            <h5>Password Reset Sent</h5>
        </div>
         
        <div class="card card-body">
            <p> we have sent the email with instructions to reset your password     </p>
            <p> If you have not received an email please check the email address you registered with,and check your spam folder          </p>
           
        </div>
        
    </div>
</div>

</div>

{% endblock %}