{% extends 'main.html' %}


{% block content %}

<div class="row">
    <div class="col">
    <div class="col-md">

        <div class="card card-body">
            <h5>Enter New Password</h5>
        </div>
        
        <div class="card card-body">
            <p>Please Enter Your Password twice  </p>
            <form method="post" action="">
                {%csrf_token%}
                {{form}}
                <input type="submit" name="Update Password">
            </form>
           
        </div>
        
    </div>
</div>

</div>

{% endblock %}