{% extends 'main.html' %}


{% block content %}
<style>
    .profile-pic{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>
<div class="row">
    
    <div class="card col-md-6">

        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'profile' %}">Back to profile</a>
            <hr>
           <h3 style="text-align:center">Profile Settings</h3>
        <hr>
        {% if user.customer.profile_pic %}
      <img class="profile-pic" src="{{request.user.customer.profile_pic.url}}" >
  {% else %}
      <img class="profile-pic" src="{{request.customer.profile_pic.url}}" >
  {% endif %}
       
        </div> </div>
<div class="card col-md-6">
        <div class="card card-body">
           <h3 style="text-align:center">Profile details</h3>
        <hr>
   <form method="post" action="" enctype="multipart/form-data">

        {% csrf_token%}

        {{form.as_p}}
     <input  class="btn btn-primary" type="submit" name="Update Information"             >


   </form>
</div>

</div>
</div>

{% endblock %}