{% extends 'main.html'%}
{% load static %}
{%block content%}
<!-- <div class="container-xxxl"  style="background: cyan;"> -->
<div class="row" style="height:550px;max-width:1500px;padding-left: 50px;">

<div class="card col"></div>
    <div class="card" style="display:flex;align-items:center;" >
<div class="card text-white bg-secondary mb-10" style="display:flex;align-items:center; top:50px;max-width: 25rem;height:80%;">
    <div class="col-lg">

        <div class=" text-center card-header">
            <h5>Register Account</h5>
        </div>

        <div class=" card-body" style="display:flex;align-items:center;" >
            <form method="post" action="" >
                {% csrf_token %}
                <div class="form-group row md-10" >
                    <label class="col-sm-2"><img src="{% static '/images/icons8-username-48.png' %}" width="35px" height="35px"></label>
                    <div class="col-sm-10">
                        {{form.username}}
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label class="col-sm-2"><img src="{% static '/images/icons8-secured-letter-48.png' %}" width="35px" height="35px"></label>
                    <div class="col-sm-10" >
                       {{form.email}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2" ><img src="{% static '/images/iconfinder-key-4341299_120569.png' %}" width="35px" height="35px"></label>
                    <div class="col-sm-10">
                        {{form.password1}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2" ><img src="{% static '/images/iconfinder-key-4341299_120569.png' %}" width="35px" height="35px"></label>
                    <div class="col-sm-10">
                        {{form.password2}}
                    </div>
                </div>
              
            
           
               <button type="submit" class="btn btn-primary btn-block"  style="justify-self: center;" >
              Register
               </button>
               
                <button class="btn btn-info btn-block ">
                    Already have an account?
                <a href="{% url 'login' %}" class="btn btn-sm-outline-info">Login</a>
            </button>
            <!-- {{messages}} -->
            </form>
            
            
           
        </div>
        
    </div>
</div>

</div>
<!-- <div class="card bg-warning">  -->
<div class="card col "  >
   <p style="padding-top: 120px;">{{form.errors}}</p> 
</div>
</div>
</div>
<script>
    var form_fields=document.getElementsByTagName('input')
    form_fields[1].placeholder='Enter Username';
    form_fields[2].placeholder='Enter EMail Address';
    form_fields[3].placeholder='Enter Password';
    form_fields[4].placeholder='Confirm Password';

    for (var field in form_fields){
        form_fields[field].className += 'form-control'
    }
</script>

{% endblock %}
