html{ overflow-y: scroll;}
#logo{
    max-height:46px;
    max-width: 46px;
    margin: 0 auto;
    border-radius: 50%;


       }
body {
    background-color: white;
}

#total-orders {
    background-color: burlywood;
}

#orders-delivered {
    background-color: rgb(85, 180, 172);
}

#orders-pending {
    background-color: orange;
}


/* .row{
    background-color: aqua;
} */


/* .profile-pic{
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 50%;
} */
